body {
    margin:0;
    padding:0;
    background-color: black;
}

h1 {
    font-weight: bolder;
    font-size: 5em;
    color: white;
}

.starry-sky {
    background-image: url('../assets/topper-background-2.jpg');
    background-size: cover;
    height: 1699px;
}

#sketch-holder {
    z-index: -1;
    background: linear-gradient(rgba(0,0,0,.1), black);
}

.main-container {
    height: 3500px;
}

#firstpart-greeting {
    top: 0;
    opacity: 0;
}