body {
    margin:0;
    padding:0;
    background-image: url('../assets/topper-background-2.jpg');
    background-size: cover;
}

h1 {
    font-weight: bolder;
    font-size: 5em;
    color: white;
}
#sketch-holder {
    background-color: rgba(0,0,0,.55);
}